.simple-highlight{
    background-color: #c0ffc8;;
    padding: 0.1em 0.2em;
  }

  body {
    position: relative; /* 为伪元素定位做准备 */
    height: 100vh;
    width: 100vw;
    margin: 0; /* 移除默认边距 */
    overflow: hidden; /* 防止滚动条出现 */
}

body::before {
    content: ""; /* 伪元素内容 */
    position: absolute; /* 绝对定位 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('img/background.png'); /* 背景图片 */
    background-size: cover; /* 覆盖整个元素 */
    background-position: center; /* 居中对齐 */
    opacity: 0.2; /* 调整透明度 */
    z-index: -1; /* 确保背景在内容之后 */
}
